.containerFooter {
    background-color: #000; /* Cor de fundo preta */
    color: #fff; /* Cor da fonte branca */
    padding: 20px;
    text-align: center; /* Centraliza o texto */
    border-radius: 10px; /* Border-radius */
    margin: 20px auto; /* Centralizado horizontalmente */
    width: 80%; /* Largura do footer */
    max-width: 600px; /* Largura máxima do footer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
  }
  