// .historyContainer {
//     padding: 20px;
//     margin-top: 18.75rem;
//   }
  
//   .filterContainer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 20px;
//     flex-wrap: wrap;
//   }
  
//   .filterContainer label {
//     margin-right: 10px;
//     color: #2e7d32; /* Verde escuro */
//   }
  
//   .filterContainer select {
//     padding: 10px;
//     border: 2px solid #2e7d32; /* Borda verde escuro */
//     border-radius: 5px;
//     margin-right: 10px;
//   }
  
//   .filterButton {
//     padding: 10px 20px;
//     background-color: #2e7d32; /* Verde escuro */
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  
//   .tripList {
//     list-style-type: none;
//     padding: 0;
//   }
  
//   .tripCard {
//     background-color: #fff;
//     color: #2e7d32; /* Verde escuro */
//     border: 2px solid #2e7d32; /* Borda verde escuro */
//     border-radius: 10px; /* Border-radius */
//     padding: 20px;
//     margin-bottom: 20px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
//     max-width: 600px; /* Largura máxima do card */
//     margin: 0 auto 20px; /* Centraliza e adiciona margem inferior */
//   }
  
//   .deleteButton {
//     margin-top: 10px;
//     padding: 10px 20px;
//     background-color: #2e7d32; /* Verde escuro */
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
  
//   .backButton {
//     margin-top: 20px;
//     margin-left: 53.5rem;
//     padding: 10px 20px;
//     background-color: #4CAF50; /* Verde claro */
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
    
//     align-items: center;
//   }

//   h2{
//     color: #fff;
    
//     text-align: center;
//     margin-bottom: 1.25rem;
//   }
  
//   @media (max-width: 600px) {
//     .filterContainer {
//       flex-direction: column;
//       align-items: flex-start;
//     }
  
//     .filterContainer label,
//     .filterContainer select,
//     .filterButton {
//       margin-bottom: 10px;
//       width: 100%;
//     }
  
//     .tripCard {
//       width: 90%; /* Ajusta a largura para dispositivos móveis */
//     }
  
//     .deleteButton, .backButton {
//       width: 100%;
//       padding: 10px;
//     }
//   }
  

.historyContainer {
  padding: 20px;
  margin-top: 250px; /* Espaço abaixo do header */
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filterContainer label {
  margin-right: 10px;
  color: #2e7d32; /* Verde escuro */
}

.filterContainer select {
  padding: 10px;
  border: 2px solid #2e7d32; /* Borda verde escuro */
  border-radius: 5px;
  margin-right: 10px;
}

.filterButton {
  padding: 10px 20px;
  background-color: #2e7d32; /* Verde escuro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2{
  text-align: center;
  color: #fff;
}

.tripList {
  list-style-type: none;
  padding: 0;
}

.tripCard {
  background-color: #fff;
  color: #2e7d32; /* Verde escuro */
  border: 2px solid #2e7d32; /* Borda verde escuro */
  border-radius: 10px; /* Border-radius */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
  max-width: 600px; /* Largura máxima do card */
  margin: 0 auto 20px; /* Centraliza e adiciona margem inferior */
}

.deleteButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2e7d32; /* Verde escuro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backButtonContainer {
  display: flex;
  justify-content: center; /* Centraliza o botão */
  margin-top: 20px;
}

.backButton {
  padding: 10px 20px;
  background-color: #4CAF50; /* Verde claro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .filterContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterContainer label,
  .filterContainer select,
  .filterButton {
    margin-bottom: 10px;
    width: 100%;
  }

  .tripCard {
    width: 90%; /* Ajusta a largura para dispositivos móveis */
  }

  .deleteButton, .backButton {
    width: 100%;
    padding: 10px;
  }
}
